body{ 
margin:0;
padding:0;
font-family:sans-serif;
}
#content{
max-width: 800px; 
margin:auto;
padding:40px;
color:#333;
} 
a.button.action {
  padding: 0 10px;
  float: right;
}
.gallery {
  display: flex;
  overflow-x: scroll;
  background:#333;
  margin-top: 50px;
}
.gallery>img {
  height:500px;
  width:auto;
  margin:0 10px;
}
footer {
padding: 20px;
text-align: center;
}