html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#form {
  height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
}
.left {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 20px ;
}
.left .samples {
}
.right {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.right #preview {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  margin: 0;
  text-align: center;
  /*Trying to make the graph centered always results
  in problems, we might as well give up. Lately, the
  sequence diagrams were not displayed in chrome for
  some reason. */
  /*display: flex;*/
  padding: 20px;
}
.right .buttons {
  text-align: center;
  margin:20px ;
}

.left #code {
  flex-grow: 1;
  resize: horizontal;
  width: 300px;
}

#preview svg {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: auto !important;
  height: auto !important;
  flex-shrink:0;
  /*
  Centering an item cross browser with overflow was trickier than expected.
  https://stackoverflow.com/a/33455342 */
  margin: auto;
  align-self: safe center;
}
