html,body { 
  padding: 0;
  margin: 0;
  overflow: hidden; 
}
#form{ 
  display: grid; 
  height: 100vh;
  width: 100vw;  
  display: flex;
}
.left{
  display:flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column; 
}
#code { 
  flex-grow:1;

  resize: horizontal;
  width:300px;
}
#preview {
  position: relative;

  flex-grow: 1;
}

#preview  svg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#submit {
  
    
}
