html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#form {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
}

.left #code {
 resize: none;
  position: absolute;
  width: 380px;
  top: 20px;
  left: 20px;
  bottom: 70px;
}
.left #theme{

  position: absolute;
  width: 380px;
  left: 20px;
  bottom: 20px;

}

.right #preview {
  position: absolute;
  width: auto;
  left: 410px;
  bottom: 70px;
  right: 0;
  top: 0;
  overflow: auto;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.right #preview svg {
  background: white;
  width: auto !important;
  height: auto !important;
}

.right .buttons {
  text-align: center;
  margin:20px ;
  position: absolute;
  bottom: 0;
  left: 410px;
  right: 0;
}

